<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351255089590-v8nl61uijstam5jqumvcpups0h8ulm4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351255089590-v8nl61uijstam5jqumvcpups0h8ulm4f</string>
	<key>API_KEY</key>
	<string>AIzaSyBktYJqI3-FEUcsgF34N4AblJBK2wcBDws</string>
	<key>GCM_SENDER_ID</key>
	<string>351255089590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mellinka.Phi-Kappa-Psi-Family-Tree</string>
	<key>PROJECT_ID</key>
	<string>phi-kappa-psi-family-tree</string>
	<key>STORAGE_BUCKET</key>
	<string>phi-kappa-psi-family-tree.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351255089590:ios:3d74cc7565e518bd16b117</string>
</dict>
</plist>